<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>Pruebas de redundancia</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://rawgit.com/RobinHerbots/jquery.inputmask/3.x/dist/jquery.inputmask.bundle.js"></script>
    
    <script type="text/javascript">
      mxBasePath = 'edt';
    </script>
    <script type="text/javascript">
      // Parses URL parameters. Supported parameters are:
      // - lang=xy: Specifies the language of the user interface.
      // - touch=1: Enables a touch-style user interface.
      // - storage=local: Enables HTML5 local storage.
      // - chrome=0: Chromeless mode.
      var urlParams = (function(url)
      {
        var result = new Object();
        var idx = url.lastIndexOf('?');
    
        if (idx > 0)
        {
          var params = url.substring(idx + 1).split('&');
          
          for (var i = 0; i < params.length; i++)
          {
            idx = params[i].indexOf('=');
            
            if (idx > 0)
            {
              result[params[i].substring(0, idx)] = params[i].substring(idx + 1);
            }
          }
        }
        
        return result;
      })(window.location.href);
    
      // Default resources are included in grapheditor resources
      mxLoadResources = false;
    </script>
    <!-- <script type="text/javascript" src="./edt/js/jquery.inputmask.js"></script> -->
    <script type="text/javascript" src="./edt/js/Init.js"></script>
    <script type="text/javascript" src="./edt/deflate/pako.min.js"></script>
    <script type="text/javascript" src="./edt/deflate/base64.js"></script>
    <script type="text/javascript" src="./edt/jscolor/jscolor.js"></script>
    <script type="text/javascript" src="./edt/sanitizer/sanitizer.min.js"></script>
    <script type="text/javascript" src="mxClient.js"></script>
    <script type="text/javascript" src="./edt/js/EditorUi.js"></script>
    <script type="text/javascript" src="./edt/js/Editor.js"></script>
    <script type="text/javascript" src="./edt/js/Sidebar.js"></script>
    <script type="text/javascript" src="./edt/js/Graph.js"></script>
    <script type="text/javascript" src="./edt/js/Format.js"></script>
    <script type="text/javascript" src="./edt/js/Shapes.js"></script>
    <script type="text/javascript" src="./edt/js/Actions.js"></script>
    
    <style type="text/css">
      .flow {
        stroke-dasharray: 8;
        animation: dash 0.5s linear;
        animation-iteration-count: infinite;
      }
      @keyframes dash {
        to {
          stroke-dashoffset: -16;
        }
      }
    </style>
    
  </head>
  <body>
    <script type="text/javascript">
      // Extends EditorUi to update I/O action states based on availability of backend
      (function()
      {
        var editorUiInit = EditorUi.prototype.init;
        
        EditorUi.prototype.init = function()
        {
          editorUiInit.apply(this, arguments);
          this.actions.get('export').setEnabled(false);
  
          // Updates action states which require a backend
          if (!Editor.useLocalStorage)
          {
            mxUtils.post(OPEN_URL, '', mxUtils.bind(this, function(req)
            {
              var enabled = req.getStatus() != 404;
              this.actions.get('open').setEnabled(enabled || Graph.fileSupport);
              this.actions.get('import').setEnabled(enabled || Graph.fileSupport);
              this.actions.get('save').setEnabled(enabled);
              this.actions.get('saveAs').setEnabled(enabled);
              this.actions.get('export').setEnabled(enabled);
            }));
          }
        };
        
        // Adds required resources (disables loading of fallback properties, this can only
        // be used if we know that all keys are defined in the language specific file)
        mxResources.loadDefaultBundle = false;
        var bundle = mxResources.getDefaultBundle(RESOURCE_BASE, mxLanguage) ||
          mxResources.getSpecialBundle(RESOURCE_BASE, mxLanguage);
  
        // Fixes possible asynchronous requests
        mxUtils.getAll([bundle, STYLE_PATH + '/default.xml'], function(xhr)
        {
          // Adds bundle text to resources
          mxResources.parse(xhr[0].getText());
          
          // Configures the default graph theme
          var themes = new Object();
          themes[Graph.prototype.defaultThemeName] = xhr[1].getDocumentElement(); 
          
          // Main
          new EditorUi(new Editor(urlParams['chrome'] == '0', themes));
        }, function()
        {
          document.body.innerHTML = '<center style="margin-top:10%;">Error loading resource files. Please check browser console.</center>';
        });
      })();
    </script>
    	<noscript>
        <strong>We're sorry but v2 doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
      </noscript>
      <div id="app"></div>
  </body>
</html>
