<template>
    <div class="Anillos">
        <v-card>
            <v-row class="mx-auto text-center">
                <v-col cols="12" md="1" class="mt-0 mb-n4 pb-n2 pl-6" v-if="modoEdicion">
                    <div class="my-2">
                        <v-tooltip v-model="showRegresar" top>
                            <template v-slot:activator="{ on }">
                                <div class="my-2">
                                    <v-btn v-on="on" color="primary" fab small dark @click="regresartoEdicion()">
                                        <v-icon>mdi-undo-variant</v-icon>
                                    </v-btn>
                                </div>
                            </template>
                            <span>Regresar</span>
                        </v-tooltip>
                    </div>
                </v-col>
                <v-col cols="12" md="11" class="mt-0 mb-n4 pb-n2 pl-6">
                    <h1>Listado de anillos</h1>
                </v-col>
            </v-row>

                            
            <v-row class="mx-auto text-center" v-if="!modoEdicion">
                <v-col cols="12" md="12">    
                    <template>
                        <v-card>
                            <v-card-title>Anillos actuales<v-spacer></v-spacer>
                                <v-text-field v-model="search" append-icon="mdi-magnify" label="Buscar anillo" single-line hide-details></v-text-field>
                            </v-card-title>
                            <v-data-table :headers="headers" :items="getAnillos" :search="search">
                                <template v-slot:item.Modificar="{ item }" style="font-size:12px;">
                                    <v-icon small class="mr-2" @click="editItem(item)">mdi-grease-pencil</v-icon>
                                </template>
                                <template v-slot:item.Eliminar="{ item }" style="font-size:12px;">
                                    <v-icon small @click="deleteItem(item)">mdi-delete-empty-outline</v-icon>
                                </template>
                            </v-data-table>
                        </v-card>
                    </template>
                </v-col>
            </v-row>
            <v-row class="mx-auto text-center" v-else>
                <viewAnillo></viewAnillo>
            </v-row>
        </v-card>
    </div>
</template>

<script>
import viewAnillo from '../components/viewAnillo.vue';

export default {
    name: 'Anillos',
    components:{
      viewAnillo,
    },
    data () {
        return {
            search: '',
            showRegresar:false,
            headers: [
                // {
                //     text: 'Id anillo',
                //     align: 'start',
                //     sortable: false,
                //     value: 'id',
                // },
                { text: 'Nombre', value: 'anillo' },
                { text: 'Registros', value: 'noNodos' },
                { text: 'Estatus', value: 'estatus' },
                {
                        text: 'Modificar',
                        value: 'Modificar',
                        sortable:false,
                        filterable: false,
                        
                },
                {
                        text: 'Eliminar',
                        value: 'Eliminar',
                        sortable:false,
                        filterable: false,
                        
                },
            ],
            itemAnillos: [],
            indexAnilloEdit:-1,
        }
    },
    mounted(){
        this.initAnillos();
    },
    created(){
        this.$store.state.btnActivo=false;
    },
    computed:{
        getAnillos(){
            return this.$store.state.anillos;
        },
        modoEdicion(){
          return this.$store.state.modoEdicion;
        },
    },
    methods:{
        initAnillos(){
            var arrAnillos=this.$store.state.anillos;
            var arrInfoAnillo;
            for(var j=0; j<arrAnillos.length; j++){
                var arrequipos=[];
                var nodoconeCon=[];
                for(var re = 0; re<arrAnillos[j].nodos.length; re++){
                    arrequipos.push(arrAnillos[j].nodos[re]);
                }
                for(var res = 0; res<arrAnillos[j].nodos.length; res++){
                    var resequipoConCon =arrAnillos[j].nodos[res].conectaCon == null ? '':arrAnillos[j].nodos[res].conectaCon ==undefined?'':arrAnillos[j].nodos[res].conectaCon.toUpperCase().trim(); 
                    if (resequipoConCon == '') continue;
                    var pos = -1;
                    for(var cc=0; cc<arrequipos.length;cc++){
                        if(resequipoConCon == arrequipos[cc].equipo){
                            pos = cc;
                        }
                    }
                    if(pos<0){
                        var pos1 = -1;
                        for(var cc=0; cc<nodoconeCon.length;cc++){
                            if(resequipoConCon == nodoconeCon[cc].coneCon[0].equipo){
                                pos1 = cc;
                            }
                        }
                        if(pos1<0){
                            var nodotemp=[{"equipo":resequipoConCon,orden:'',"equipo":resequipoConCon,"ip":'',"tipo":'',"mpls":'',"interfaz":"","down":'',"conectaCon":"","ipOlt":'',"posONT":''}]
                            nodoconeCon.push({"coneCon":nodotemp, "index": res});
                        }
                    }
                }
                for(var s=0; s<nodoconeCon.length; s++){
                    arrequipos.splice((Number.parseInt(nodoconeCon[s].index)+1+s),0,nodoconeCon[s].coneCon[0]);
                }
                //console.log("Nodos: " + arrequipos.length);
                //this.itemAnillos.push({'id': arrAnillos[j].id,'nombre': arrAnillos[j].nombre,'nodos':arrequipos.length,'estatus': 1})
                //vamos a llegar a lo mismo


                //this.$store.state.anillos[j].noNodos=arrequipos.length;
                this.$store.state.anillos[j].noNodos=this.$store.state.anillos[j].nodos.length;
                

            }

        },
        editItem(item){
            debugger;
            this.$store.state.indexAnilloEdit = this.$store.state.anillos.indexOf(item);
            //var anilloinfo= this.getAnillo(item.id);
            this.$store.state.modoEdicion = true;
            
            //this.setDatosAnillo(anilloinfo);
        },
        getAnillo(idAnillo){
            var anillo;
            var arrAnillos=this.$store.state.anillos;
            for(var j=0; j<arrAnillos.length; j++){
                if(arrAnillos[j].id==idAnillo){
                    anillo= arrAnillos[j];
                    break;
                }
            }
            return anillo;
        },
        setDatosAnillo(anillo){
            //debugger;
             this.$store.state.nombreAnillo=anillo.nombre;
             var nodos = anillo.nodos;
             for(var re=0; re<nodos.length;re++){
                 var newnodo ={
                    'orden':nodos[re].orden,
                    'tipoEquipo':'',
                    'nomEquipo':nodos[re].equipo,
                    'ipEquipo':nodos[re].ip,
                    'MPLS':nodos[re].mpls,
                    'VRRP':nodos[re].protocolos[0].valor,
                    'interfaz':nodos[re].interfaz,
                    'down':nodos[re].down,
                    'lldp':nodos[re].protocolos[1].valor,
                    'conectaCon':nodos[re].conectaCon,
                    'ipColector':nodos[re].servicios[0].valor,
                    'ipLANWAN':nodos[re].servicios[1].valor,
                    'ipOLT':nodos[re].ipOLT,
                    'posONT':nodos[re].posONT,
                    'ipDestino':nodos[re].servicios[2].valor
                    };
                this.$store.state.nodosAnillo.push(newnodo);
             }
        },
        regresartoEdicion(){
             this.$store.state.modoEdicion=false;
            // this.$store.state.nodosAnillo=[];
        }
         

     },
}
</script>