<template>
    <div class="Ejecucion">
      <v-card >
        <h1 style="padding:10px 10px 10px 30px;">{{getNombreAnillo}}</h1>
      </v-card>
      <v-row>
          <v-col cols='8'>
            <v-card>
              <h2 style="padding:10px 10px 10px 30px;">{{getNombreAnillo}}</h2>
              <v-row v-resize="onResize" align="center" justify="center" style='zoom:72%;padding-bottom:30px;margin-left:40px;' id="graphContainer">
                
              </v-row>
              <!-- <div id="graphContainer" style="margin:4px;zoom:70%"></div> -->
            </v-card>
          </v-col>
          <v-col cols='4'>
            <v-card elevation="2" height="443">
              <h1 style="padding:10px 10px 10px 30px;">{{getNombreAnillo}}</h1>
              <div id="graphContainer" style="margin:4px;zoom:70%"></div>
            </v-card>
          </v-col>
        </v-row>

      
        
        <!-- <button type="button" class="btn btn-outline-primary" id="btn_Iniciar" @click="stratTour()"><i class="far fa-play-circle"></i> Inciar</button> -->
        
    </div>
</template>

<script>
export default {
  name: 'Ejecucion',
  data(){
    return{
      templateAnillo:'',
      windowSize: {
        x: 0,
        y: 0,
      },
      porcePantalla:0,
      nodoconeCon:[],
      arrequipos:[],
      arrIdexCCon:[],
      oltMostrado:[],
      lnoltMostrado:[],
    }

    },
    methods:{
      cargaAnillo(anilloSel){
          this.getOrdenNodos(anilloSel);
          var txml= this.getTemplate(this.arrequipos.length);
          var doc = mxUtils.parseXml(txml);
          this.templateAnillo=this.cleanTemplate(doc);
          this.setDatos(anilloSel);
          var graph = this.createGraph(document.getElementById('graphContainer'));
          var codec = new mxCodec(this.templateAnillo);
          codec.decode(this.templateAnillo.documentElement, graph.getModel());
          
          
        },
        createGraph(container){
          var graph = new mxGraph(container);
          graph.setTooltips(true);
          graph.setEnabled(false);
          new mxCellTracker(graph);
          return graph;
        },
        getOrdenNodos(anillo){
          //detectar la cantidad real de nodos
           //nodo
           for(var re = 0; re<anillo.nodos.length; re++){
            //var resequipo =anillo.nodos[re].equipo == null ? '':anillo.nodos[re].equipo ==undefined?'':anillo.nodos[re].equipo.toUpperCase().trim(); 
            //var nodoCCon =anillo.nodos[re].conectaCon == null ? '':anillo.nodos[re].conectaCon ==undefined?'':anillo.nodos[re].conectaCon.toUpperCase().trim(); 
             this.arrequipos.push(anillo.nodos[re]);
             //this.noNodos++;
           }
           for(var res = 0; res<anillo.nodos.length; res++){
             var resequipoConCon =anillo.nodos[res].conectaCon == null ? '':anillo.nodos[res].conectaCon ==undefined?'':anillo.nodos[res].conectaCon.toUpperCase().trim(); 
             if (resequipoConCon == '') continue;
             var pos = -1;
             for(var cc=0; cc<this.arrequipos.length;cc++){
               if(resequipoConCon == this.arrequipos[cc].equipo){
                 pos = cc;
               }
             }

             if(pos<0){
               var pos1 = -1;
               for(var cc=0; cc<this.nodoconeCon.length;cc++){
                  if(resequipoConCon == this.nodoconeCon[cc].coneCon[0].equipo){
                    pos1 = cc;
                  }
               }
               
               if(pos1<0){
                 var nodotemp=[{"equipo":resequipoConCon,orden:'',"equipo":resequipoConCon,"ip":'',"tipo":'',"mpls":'',"interfaz":"","down":'',"conectaCon":"","ipOlt":'',"posONT":''}]
                 this.nodoconeCon.push({"coneCon":nodotemp, "index": res});
               }
             }
            
           }
          this.arrequipos.splice((Number.parseInt(this.nodoconeCon[0].index)+1),0,this.nodoconeCon[0].coneCon[0]);
          console.log("Nodos: " + this.arrequipos.length);
          return this.arrequipos;

        },
        getTemplate(index){
          var noAnillos=this.$store.state.templateXML;
          var templatexml=null;
          for(var j=0; j<noAnillos.length; j++){
            if(noAnillos[j].noAnillo==index){
              templatexml = noAnillos[j].xml;
              break;
            }
          }
          return templatexml;
        },
        cleanTemplate(txml){
          for(var xsl=2; xsl<txml.childNodes[0].childNodes[0].childNodes.length; xsl++){
            try{
              var aux = txml.childNodes[0].childNodes[0].childNodes[xsl];
              switch(aux.classList[0]){
                case "nodo":
                   aux.attributes[2].value='';
                 break;
                 case "Xcon":
                   aux.attributes.vertex.value="0";
                 break;
                 case "OLT":
                   aux.attributes.vertex.value="0";
                 break;
                 case "LNOLT":
                   aux.attributes.edge.value="0";
                   aux.attributes[2].value='';
                 break;
                 case "ITF":
                   aux.attributes[2].value='';
                 break;
                 case "txtlineaConec":
                   aux.attributes[2].value='';
                 break;
               }
             }catch(error){
               console.log(error);
             }
          }
          return txml;
        },
        setDatos(anillo){
          //var res = document.getElementById('graphContainer');
          //res.childNodes[0].childNodes[0].childNodes[1].childNodes[0].style.visibility="hidden";

          //var txml = this.templateAnillo;
          
          for(var r=0; r<=(this.arrequipos.length-1); r++){
            if(r < this.arrequipos.length){
              var arrayNodoXml = this.getNodosXml(r,this.arrequipos[r]); //Obtener el nodo r del xml
              //var nodo = this.getNodoArreglo(anillo,r); //obtener el nodo del array de nodos
              this.setNodo(arrayNodoXml,this.arrequipos[r]);
            }else{
              
            }
          }
          //return txml
        },
        onResize () {
          var cambio = this.porcePantalla < window.innerWidth ? 0:1;
          this.porcePantalla= window.innerWidth;
          this.windowSize = { x: window.innerWidth, y: window.innerHeight };
          var mapAnillo= document.getElementById('graphContainer');
          var porcen = Number.parseFloat(mapAnillo.style.zoom.replace('%',''));
          if(cambio != 0){
            porcen = porcen - 0.5;
          }else{
            porcen = porcen + 0.5;
          }
          mapAnillo.style.zoom= porcen.toString() + '%';
        },
        getNodosXml(index,Nodoordenado){
          var txml = this.templateAnillo;
          var nodoRet=[];
          var obtenOLT=null;

          for(var re=0; re<this.arrequipos.length; re++){
            if(this.arrequipos[re].equipo== Nodoordenado.conectaCon){
              obtenOLT=re+1;
            }
          }
          for(var xsl=2; xsl<txml.childNodes[0].childNodes[0].childNodes.length; xsl++){
             try{
               var aux = txml.childNodes[0].childNodes[0].childNodes[xsl];
               switch(aux.classList[0]){
                 case "nodo":
                   if(aux.classList[1] == "nodo" + (index+1)){
                     nodoRet.push({"nodo":aux,"index":xsl});
                   } 
                 break;
                 case "OLT":
                   if(aux.classList[1] == "OLT" + (obtenOLT)){
                     nodoRet.push({"nodo":aux,"index":xsl});
                   } 
                 break;
                 case "LNOLT":
                   if(aux.classList[1] == "LNOLT" + (obtenOLT)){
                     nodoRet.push({"nodo":aux,"index":xsl});
                   } 
                 break;
                 case "ITF":
                    if(aux.classList[1] == "ITF" + (obtenOLT)+ "_N" + (obtenOLT)){
                      nodoRet.push({"nodo":aux,"index":xsl});
                    } 
                 break;
                 
               }
             }catch(error){
               console.log(error);
             }
          }
          return nodoRet;
        },
        getNodoArreglo(anillo,index){
          return anillo.nodos[index];
        },
        setNodo(arrayNodoXml,nodo){
          
          var aux = this.templateAnillo.childNodes[0].childNodes[0].childNodes;
          for(var ew=0; ew<arrayNodoXml.length; ew++){
            switch(arrayNodoXml[ew].nodo.classList[0]){
              case "nodo":
                aux[arrayNodoXml[ew].index].attributes[2].value=nodo.equipo + ' ' + nodo.ip;
              break;
              case "OLT":
                var existeCell=-1;
                for(var fe=0; fe<this.oltMostrado.length; fe++){
                  if(this.oltMostrado[fe]==arrayNodoXml[ew].nodo.id){
                    existeCell=fe;
                  }
                }
                if(existeCell<0){
                  var resequipoConCon =nodo.ipOlt == null ? '':nodo.ipOlt ==undefined?'':nodo.ipOlt.toUpperCase().trim(); 
                  aux[arrayNodoXml[ew].index].attributes[2].value=resequipoConCon == '' ? '':nodo.ipOlt;
                  aux[arrayNodoXml[ew].index].attributes.vertex.value=resequipoConCon == '' ? '0':'1';
                  this.oltMostrado.push(arrayNodoXml[ew].nodo.id);
                }
                
              break;
              case "ITF":
                aux[arrayNodoXml[ew].index].attributes[2].value=nodo.interfaz;
              break;
              case "LNOLT":
                var existeCell=-1;
                for(var fe=0; fe<this.lnoltMostrado.length; fe++){
                  if(this.lnoltMostrado[fe]==arrayNodoXml[ew].nodo.id){
                    existeCell=fe;
                  }
                }
                if(existeCell<0){
                  var resequipoConCon =nodo.ipOlt == null ? '':nodo.ipOlt ==undefined?'':nodo.ipOlt.toUpperCase().trim(); 
                  //aux.attributes.edge.value="0";
                  aux[arrayNodoXml[ew].index].attributes.edge.value=resequipoConCon == '' ? '0':'1';
                  this.lnoltMostrado.push(arrayNodoXml[ew].nodo.id);
                }
                
              break;
              
            }

          }
        }

    },
    computed:{
        getNombreAnillo(){
            var anilloSel=this.$store.state.anillos[this.$store.state.anilloSeleccionado];
            return anilloSel.anillo;          
        },
    },
    mounted(){
        if(this.$store.state.anilloSeleccionado!=null){
            //this.main();
            var anilloSel=this.$store.state.anillos[this.$store.state.anilloSeleccionado];
            this.cargaAnillo(anilloSel);
            this.onResize();
        }
    },
    created() {

    },
}
</script>