<template>
    <div class="Historial">
        <v-card>
            <v-row>
                <v-col cols="12" sm="6" md="3">
                    <h1 class="text-center">Historial</h1>
                </v-col>
                
                <v-col cols="12" sm="6" md="3">
                    <v-select v-model="e1" :items="states" menu-props="auto" label="Configuraciones" hide-details prepend-icon="mdi-cogs" single-line></v-select>                    
                </v-col>
                
                <v-col cols="12" sm="6" md="3">
                    <v-menu v-model="menu2" :close-on-content-click="false" :nudge-right="40" transition="scale-transition" offset-y min-width="290px">
                        <template v-slot:activator="{ on }">
                            <v-text-field v-model="dateFin" label="Seleccione la fecha" prepend-icon="mdi-calendar-month-outline" readonly v-on="on" :value="computedDateFormattedDatefns" clearable></v-text-field>
                        </template>
                        <v-date-picker v-model="dateFin" @input="menu2 = false" locale="mx"></v-date-picker>
                    </v-menu>
                </v-col>

                <v-col cols="12" sm="6" md="3">
                    <v-tooltip v-model="show" top>
                        <template v-slot:activator="{ on }">
                            <v-btn class="ma-2" v-on="on" outlined color="primary">
                                <v-icon>mdi-magnify</v-icon>Buscar
                            </v-btn>
                        </template>
                        <span>Buscar</span>
                    </v-tooltip>
                </v-col>

                
                
            </v-row>
            
        </v-card>
    </div>
</template>

<script>
export default {
    name: 'Historial',
    data: () => ({
      dateFin: new Date().toISOString().substr(0, 10),
      menu2: false,
      configAnillo: null,
      configuraexistentes:['Confuguracion'],
      states:{}
    }),
    computed: {
      computedDateFormattedDatefns () {
        return this.date ? format(this.date, 'dddd, MMMM Do YYYY') : ''
      },
    },
}
</script>