<template>
  <div class="home">
    <v-card id="homepage" name="homepage" elevation="7" style="background-image: url(https://proptech.es/wp-content/uploads/shutterstock_230591173-768x640.jpg);background-size: cover;">
      <v-container>
        <v-row class="text-center">
          <v-col cols="12">
            <v-img src="https://www.totalplay.com.mx/images/logos/total_play_logo.png" class="my-3"
            contain
            height="100"/>
          </v-col>

          <v-col class="mb-4">
            <h1 class="display-2 font-weight-bold mb-3">
              Pruebas de redundancia V.1.0
            </h1>
          </v-col>
        </v-row>
      </v-container>
    </v-card>
  </div>
</template>

<script>
// @ is an alias to /src


export default {
  name: 'home',
  data: () => ({
        porcePantalla:0,
    }),
  components: {
    
  },
  mounted(){
    debugger;
    //Init
    //this.getWindowWidth()
    this.onResize();
  },
  methods:{
    
    onResize () {
      debugger;
          var cambio = this.porcePantalla > window.innerHeight ? 0:1;
          this.porcePantalla= window.innerHeight;
          var mapAnillo= document.getElementById('homepage');
          var porcen = window.innerHeight-100;
          if(cambio != 0){
            porcen = porcen - 1;
          }else{
            porcen = porcen + 1;
          }
          mapAnillo.style.height= porcen + 'px';
          
        },
  }
}
</script>
