<template>
<div class="Roles">
    <v-card >
        <h1 class="text-center">Gestion de roles</h1>
        <!-- <div class="lighten-5 pa-4">
            <v-row >
                <v-col md="4" sm="4">
                    <v-card class="mx-auto" tile>
                        <v-toolbar :inset="inset" dark color="primary">
                            <v-toolbar-title class="text-center">Roles</v-toolbar-title>
                            <v-spacer></v-spacer>
                        </v-toolbar>
                        <v-list dense>
                            <v-list-item-group v-model="item" color="primary">
                                 <template v-for="(item, i) in itmRoles">
                                    <v-list-item :key="item.i">
                                        <v-list-item-icon>
                                            <v-icon v-text="item.icon"></v-icon>
                                        </v-list-item-icon>
                                        <v-list-item-content>
                                            <v-list-item-title v-text="item.text"></v-list-item-title>
                                        </v-list-item-content>
                                    </v-list-item>
                                    <v-divider v-if="i + 1 < itmRoles.length" :key="i"></v-divider>
                                 </template>
                            </v-list-item-group>
                        </v-list>
                    </v-card>
                </v-col>
            </v-row>
        </div>  -->

        
        <!-- <v-card max-width="344" class="mx-auto">
                <v-text-field v-model="search" append-icon="mdi-account-search" label="Buscar usuarios" single-line hide-details></v-text-field>
        </v-card> -->
        <template>
            <v-data-table :headers="headers" :items="usuarios" :items-per-page="5" :search="search" class="elevation-1">
                <template v-slot:top>
                    <v-toolbar flat color="white">
                        <!-- <v-text-field label="Usuario" v-model="usrContent.name" single-line hide-details></v-text-field> -->
                        <!-- <v-divider class="mx-4" inset vertical></v-divider> -->
                        
                        <v-dialog v-model="dialogUSR" max-width="400px" dense>
                            <template v-slot:activator="{ on }">
                                <v-spacer></v-spacer>
                                <v-btn small class="ma-2 mr-2" v-on="on" dense dark color="primary" @click="newusrroll=true;">
                                    <v-icon left>mdi-account-plus</v-icon>Agregar
                                </v-btn>
                            </template>
                            <v-card>
                                <v-card-title class="text-center" blue lighten-5>
                                    <span class="headline" v-if='newusrroll'>Nuevo usuario</span>
                                    <span class="headline" v-if='!newusrroll'>Editar usuario</span>
                                </v-card-title>

                                <v-card-text class="mt-3">
                                    <v-container>
                                        <v-row>
                                            <v-col cols="12" md="12" class="mt-n4">
                                                <!-- <v-text-field v-model="usrContent.usrRol" label="Rol"></v-text-field> -->
                                                <v-select :items="itmRoles" item-text="description" return-object label="Rol" solo v-model="editedItemUSR.rol"></v-select>
                                            </v-col>
                                            <v-col cols="12" md="12" class="mt-n9">
                                                <v-text-field label="Usuario" outlined dense v-model="editedItemUSR.username" required maxlength="30"></v-text-field>
                                            </v-col>
                                            <v-col cols="12" md="12" class="mt-n8 mb-n6">
                                                <v-text-field label="Nombre" outlined dense v-model="editedItemUSR.nombre" required maxlength="30"></v-text-field>
                                            </v-col>
                                            
                                            <v-col cols="12"  md="12" class="mt-n10">
                                                <v-checkbox v-model="absolute" label="Activo"></v-checkbox>
                                            </v-col>
                                            <!-- <v-col cols="12" sm="6" md="12">
                                                <v-text-field v-model="usrContent.usrArea" label="Área"></v-text-field>
                                            </v-col> -->
                                        </v-row>
                                    </v-container>
                                </v-card-text>

                                <v-card-actions class="mt-n12">
                                    <v-spacer></v-spacer>
                                    <v-btn color="blue darken-1" text @click="closeUSR">Cancelar</v-btn>
                                    <v-btn color="blue darken-1" text @click="saveUSR">Guardar</v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-dialog>
                    </v-toolbar>
                </template>
                <template v-slot:item.Acciones="{ item }">
                    <v-icon small class="mr-2" @click="editUSR(item)">mdi-grease-pencil</v-icon>
                    <v-icon small @click="deleteItemUSR(item)">mdi-delete-empty-outline</v-icon>
                </template>
                <template v-slot:no-data>
                    <v-btn color="primary" @click="initialize">Reset</v-btn>
                </template>
            </v-data-table>
        </template>

        <v-snackbar v-model="snackbar" :bottom="y === 'bottom'" :color="colorSnackbar" :left="x === 'left'" :multi-line="mode === 'multi-line'" :right="x === 'right'" :timeout="timeout" :top="y === 'top'" :vertical="mode === 'vertical'">
            {{ msgAlert }}
            <v-btn dark text @click="snackbar = false">
                Close
            </v-btn>
        </v-snackbar>
        <v-overlay :value="overlay">
            <v-progress-circular indeterminate size="64"></v-progress-circular>
        </v-overlay>
        
    </v-card>     
</div>
</template>

<script>
import operations from '../operations'


export default {
    name: 'Roles',
    data: () => ({
        overlay: false,
        snackbar:false,
        msgAlert:'',
        newusrroll:true,
        absolute: false,
        dialogUSR: false,
        colorSnackbar:'',
        timeout: 6000,
        agregaUSR:false,
        item: null,
        inset: false,
        itmRoles: [],
        search: '',
        headers: [
          {
            text: 'Rol',
            align: 'center',
            //filterable: false,
            value: 'rol',
          },
          { text: 'Usuario', align: 'center', value: 'username' },
          { text: 'Nombre',align: 'center', value: 'nombre' },
          {
              text: 'Config.',
              value: 'Acciones',
              sortable:false,
              filterable: false,
              align:'center',
          },
        ],
        usuarios: [],
        editedItemUSR: {
            rol: '',
            username: '',
            nombre:'',
        },
        editedIndexUSR:-1,
    }),
    created(){
        this.roles();
        this.usersByRole();
    },
    methods:{
        async roles(){
            try{
                const response = await operations.roles({ aux:"" });

                console.log(response);
                if(response.status == "200"){
                    console.log("ok");
                    console.log(response);
                    this.itmRoles=[];
                    this.itmRoles=response.data.catalog;
                    
                }
                if(response.status == "204"){
                    console.log("204");
                    
                }else{
                    
                }
            }catch(error){
                console.log(error);
            }
        },
        async usersByRole(){
            try{
                const response = await operations.usersByRole({ role:""});
                if(response.status == "200"){
                    console.log("ok");
                    console.log(response);
                    this.usuarios=[];
                    this.usuarios=response.data.users;
                    
                }
                if(response.status == "204"){
                    console.log("204");
                    
                }else{
                    
                }
            }catch(error){
                console.log(error);
            }
        },
        async assignRole(role, username, nombre){
            try{
                this.overlay=true;
                var newUsr={
                    rol: this.editedItemUSR.rol.id,
                    username: this.editedItemUSR.username,
                    nombre:this.editedItemUSR.nombre
                };
                const response = await operations.assignrole({ role:role,username:username,nombre:nombre});
                if(response.status == "200"){
                    debugger;
                    console.log("ok assign");
                    console.log(response);
                    console.log(this.editedIndexUSR);
                    if (this.editedIndexUSR > -1) {
                        Object.assign(this.usuarios[this.editedIndexUSR], newUsr)
                    }else {
                        this.usuarios.push(newUsr)
                    } 
                    this.overlay=false;
                    this.snackbar = true;
                    this.msgAlert=response.data.response;
                    this.colorSnackbar='green';       

                    
                }
                if(response.status == "204"){
                    console.log("204");
                    
                }else{
                    
                }
            }catch(error){
                this.overlay=false;
                this.snackbar = true;
                this.msgAlert="Error: " + error.response.data.response;
                this.colorSnackbar='red';
                console.log(error.response.data.response);
            }
        },
        closeUSR () {
            this.dialogUSR = false;
            setTimeout(() => {
                this.editedItemUSR = Object.assign({}, this.defaultItemUSR)
                //this.editedIndexUSR = -1
            }, 300)
        },
        saveUSR () {
            //debugger;
            this.assignRole(this.editedItemUSR.rol.id,this.editedItemUSR.username,this.editedItemUSR.nombre);
            this.closeUSR()
        },
        editUSR (item) {
            debugger;
            this.newusrroll=false;
            this.editedIndexUSR = this.usuarios.indexOf(item)
            for(var r=0; r< this.itmRoles.length; r++){
                if(this.itmRoles[r].id==item.rol){
                    this.editedItemUSR.rol=this.itmRoles[r];
                }
            }
            this.editedItemUSR.username=item.username;
            this.editedItemUSR.nombre=item.nombre;
            //this.editedItemUSR = Object.assign({}, item)
            this.dialogUSR = true
        },
        deleteItemUSR (item) {
            //debugger;
            const index = this.usuarios.indexOf(item);
            confirm('Are you sure you want to delete this item?') && this.usuarios.splice(index, 1);
      },

    },
    watch: {
      dialogUSR (val) {
        val || this.closeUSR()
      },
    },
}
</script>
<style>
.v-input--selection-controls .v-input__slot > .v-label, .v-input--selection-controls .v-radio > .v-label {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    height: auto;
    font-size: 12px;
}
.v-text-field.v-text-field--solo .v-label {
    top: calc(50% - 10px);
    font-size: 12px;
}
.v-dialog > .v-card > .v-card__title {
    font-size: 1.25rem;
    font-weight: 500;
    letter-spacing: 0.0125em;
    padding: 16px 24px 10px;
    display: flow-root;
    background-color: #1976d2 !important;
    color: white;
}
</style>