<template>
  <v-list >
    <v-autocomplete v-model="model" :items="this.$store.state.anillos" :search-input.sync="search" return-object item-text="anillo" label="Anillos actuales" prepend-icon="mdi-magnify">
    </v-autocomplete>    
    <div v-for="item in items" :key='item.name'>
      <v-list-item :key="item.name" :to="item.link" link style="border-bottom: 1px solid #d6d3d3;" color="primary">
        <v-list-item-action >
          <v-icon>{{ item.icon }}</v-icon>
        </v-list-item-action>
        <v-list-item-content>
          <v-list-item-title>
            {{ item.text }}
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </div>
  </v-list>
</template>
<script>
import router from '../router/index'

  export default {
    name:'menuDrawel',
    data(){
      return {
        search: null,
        drawer: null,
        tipoev:null,
        tabsActivos:[],
        items: [
          {link:'/nuevo-anillo',icon: 'mdi-desktop-mac-dashboard', text: 'Nuevo anillo', name: 'Dashboard', idConfig:null, noAnillos:null,mapAnillo:null,tipoev:null},
          {link:'/anillos', icon: 'mdi-access-point-network', text: 'Configuraciones de anillos', name: 'Configuraciones de anillos' , idConfig:null, noAnillos:null,mapAnillo:null,tipoev:null},
          {link:'/roles', icon: 'mdi-account-key-outline', text: 'Roles', name: 'Roles', idConfig:'', noAnillos:null,mapAnillo:null,tipoev:null},
          {link:'/historial', icon: 'mdi-history', text: 'Historial' , name: 'Historial', idConfig:'', noAnillos:null,mapAnillo:null,tipoev:null},
        ],
        model: null,
        // nodos: [
        //   {text: 'GDL_CANADA', name: 'GDLCANADA', idConfig:'1', noAnillos:'2',mapAnillo:'GDL_CANADA',tipoev:null },
        //   {text: 'PACHUCA SOTO', name: 'PACHUCASOTO', idConfig:'2', noAnillos:'3',mapAnillo:'PACHUCA SOTO',tipoev:null},
        //   {text: 'PACHUCA CENTRO', name: 'PACHUCACENTRO', idConfig:'3', noAnillos:'4',mapAnillo:'PACHUCA CENTRO',tipoev:null},
        // ],
      }
    },
    methods:{
          
      },
      watch: {
        search(link) {
          var arrAnillos=this.$store.state.anillos;
          this.$store.state.anilloSeleccionado = null;
          for(var j=0; j<arrAnillos.length; j++){
            if(arrAnillos[j].anillo==link){
              this.$store.state.anilloSeleccionado = j;
              break;
            }else{
              this.$store.state.anilloSeleccionado=null;
            }
          }
          router.push('/ejecucion');
        },
      },
      mounted(){
        
      },
      created() {
          
      },  
       
  }
</script>