<template>
    <v-card>
        <v-row class="mx-auto mr-1">
            <v-col cols="12" sm="6" md="6" class="mt-0 mb-n4 pb-n2 pl-6">
                <v-text-field label="Nombre del anillo" outlined dense v-model="$store.state.anillos[indexEdit].anillo" :rules="nameRules" required maxlength="30" @keypress="letrasNumerosDiagonal"></v-text-field>
            </v-col>
            <v-col cols="12" sm="6" md="2" class="mx-auto mt-n4 py-1" style="text-align: end;">
                <!-- <v-select class="ma-2 tamano" v-model="stAnillos" :items="lstStatus" menu-props="auto" label="Estatus" hide-details  outlined dense></v-select>                     -->
            </v-col>

            <v-col cols="12" sm="6" md="4" class="mx-auto mt-n4 py-5" style="text-align: end;">
                <v-menu v-model="value" :close-on-click="true" :close-on-content-click="true" :offset-y="true">
                    <template v-slot:activator="{ on }">
                        <v-btn small dense color="primary" dark v-on="on"  class="ma-2 mr-4">
                            <v-icon left>mdi-state-machine</v-icon>Estatus
                        </v-btn>
                    </template>
                    <v-list>
                        <v-list-item v-for="(item, index) in lstStatus" :key="index" @click=""><v-list-item-title>{{ item }}</v-list-item-title>
                        </v-list-item>
                    </v-list>
                </v-menu>
                <v-tooltip v-model="showGuardar" top>
                    <template v-slot:activator="{ on }">
                        <v-btn small class="ma-2 mr-2" v-on="on" dense color="primary" dark  @click="guardarAnillo">
                            <v-icon left>mdi-content-save-outline</v-icon>Guardar
                        </v-btn>
                    </template>
                    <span>Guardar</span>
                </v-tooltip>
                <!-- <v-tooltip v-model="showConcelar" top>
                    <template v-slot:activator="{ on }">
                        <v-btn small class="ma-2 mr-2" v-on="on" dense color="red" dark @click="CancelarEdicion" v-if="editaAnillo">
                            <v-icon left>mdi-content-save-outline</v-icon>Cancelar
                        </v-btn>
                    </template>
                    <span>Cancelar</span>
                </v-tooltip> -->
            </v-col>
        </v-row>
        <v-row class="mx-auto" >
            <v-col cols="12" md="12">
                <v-card class="mx-auto mt-n12 elevation-4" max-height="138" >
                    <v-form ref="form" v-model="valid" lazy-validation>
                        <v-row class="mx-auto mt-5">
                            
                            <!-- <v-col cols="12" sm="6" md="3" class="mt-n0 pb-n6">
                                <v-autocomplete v-model="editedNodo.tipoEquipo" :items="tequipos" :rules="[v => !!v || '']" outlined dense label="tipo de equipo" required style="font-size:12px" clearable></v-autocomplete>
                            </v-col> -->
                            <v-col cols="12" sm="6" md="2" class="mt-n0 pb-n6">
                                <v-text-field label="Equipo" outlined dense v-model="valNombreNodo" :rules="nameNodo" required maxlength="30" @keypress="soloLetrasNumeros"></v-text-field>
                            </v-col>
                            <v-col cols="12" sm="6" md="2" class="mt-n0 pb-n6">
                                <v-text-field label="Ip equipo" id="ipEquipo" name="ipEquipo" v-model="editedNodo.valIpEquipo" dense outlined style="font-size:12px" required></v-text-field>
                            </v-col>
                            <v-col cols="12" sm="6" md="2" class="mt-n0 pb-n2">
                                <v-text-field v-model="editedNodo.valMPLS" label="MPLS" id="ipMPLS" name="ipMPLS" dense outlined style="font-size:12px" required></v-text-field>
                            </v-col>
                            <v-col cols="12" sm="6" md="5" class="mt-n0 pb-n2">
                                <v-text-field label="VRRP" outlined dense maxlength="200" style="font-size:12px" v-model="editedNodo.valVrrp"  required @keypress="soloLetrasNumeros"></v-text-field>
                            </v-col>
                            <v-col cols="12" sm="6" md="1" class="mt-n0 pb-n2">
                                <!-- <v-autocomplete v-model="valOrden" :items="Orden" outlined dense label="Orden" :rules="[v => !!v || '']" style="font-size:12px"></v-autocomplete> -->
                                <v-text-field label="Orden" outlined dense v-model="editedNodo.valOrden" style="text-align:center; font-size:12px;" :disabled="true"></v-text-field>
                            </v-col>
                        </v-row>
                        <v-row class="mx-auto">
                            
                            <v-col cols="12" sm="6" md="2" class="mt-n10 pb-n2">
                                <v-text-field label="Interfaz" outlined dense v-model="editedNodo.valInterfaz" maxlength="100" style="font-size:12px" :rules="modinterfazr" required @keypress="letrasNumerosDiagonal"></v-text-field>
                            </v-col>
                            <v-col cols="12" sm="6" md="2" class="mt-n10 pb-n2">
                                <v-autocomplete v-model="editedNodo.valDown" :items="lstDown" outlined dense label="Down" :rules="[v => !!v || '']" style="font-size:12px" clearable></v-autocomplete>
                            </v-col>
                            <v-col cols="12" sm="6" md="2" class="mt-n10 pb-n2">
                                <v-autocomplete v-model="editedNodo.valLLDP" :items="lstLLDP" outlined dense label="LLDP" :rules="[v => !!v || '']" style="font-size:12px" clearable></v-autocomplete>
                            </v-col>
                            <v-col cols="12" sm="6" md="3" class="mt-n10 pb-n2">
                                <!-- <v-autocomplete v-model="valCcon" :items="cCon" outlined dense label="Conecta con" :rules="[v => !!v || '']" style="font-size:12px" clearable></v-autocomplete> -->
                                <v-text-field label="Conecta con" outlined dense v-model="editedNodo.valConectaCon" :rules="valCconr" required maxlength="30" style="font-size:12px" @keypress="soloLetrasNumeros"></v-text-field>
                            </v-col>
                            <v-col cols="12" sm="6" md="3" class="mt-n10 pb-n2">
                                <v-text-field v-model="editedNodo.valIpColector" label="IP colector validacion servicio datos ping" id="ipColector" name="ipColector" dense outlined style="font-size:12px"></v-text-field>
                            </v-col>
                        </v-row>
                        <v-row class="mx-auto">
                            
                            <v-col cols="12" sm="6" md="2" class="mt-n10 pb-n2">
                                <v-text-field v-model="editedNodo.valIpLANWAN" label="IP Lan wan Validacion servicio datos" id="ipLANWAN" name="ipLANWAN" dense outlined style="font-size:12px"></v-text-field>
                            </v-col>
                            <v-col cols="12" sm="6" md="2" class="mt-n10 pb-n2">
                                <v-text-field v-model="editedNodo.valIpOLT" label="IP OLT" id="ipOLT" name="ipOLT" dense outlined style="font-size:12px"></v-text-field>
                            </v-col>
                            <v-col cols="12" sm="6" md="2" class="mt-n10 pb-n2">
                                <v-text-field v-model="editedNodo.valPosONT"  label="Posición ONT" id="posONT" name="posONT" dense outlined style="font-size:12px"></v-text-field>
                            </v-col>
                            <v-col cols="12" sm="6" md="3" class="mt-n10 pb-n2">
                                <v-text-field label="IP destino validación internet ONT" v-model="editedNodo.valIpDestino" outlined dense maxlength="100" style="font-size:12px"></v-text-field>
                            </v-col>
                        </v-row>
                    </v-form>
                    <!-- <v-card-title class="mt-n3 mx-auto">Configuración1</v-card-title> -->
                </v-card>
            </v-col>
        </v-row>

        <v-row class="mx-auto mr-1">
            <v-col cols="12" sm="6" md="6" class="mt-n4 pb-n2">
                
            </v-col>            
            <v-col cols="12" sm="6" md="2" class="mx-auto mt-n4 py-1" style="text-align: end;"></v-col>

            <v-col cols="12" sm="6" md="4" class="mx-auto mt-n4 py-1" style="text-align: end;">
                <v-tooltip v-model="show2" top >
                    <template v-slot:activator="{ on }">
                        <v-btn small class="ma-2 mr-4"  v-on="on" dense color="primary" dark @click="reset">
                            <v-icon left>mdi-broom</v-icon>Limpiar
                        </v-btn>
                    </template>
                    <span>Limpiar</span>
                </v-tooltip>
                <v-tooltip v-model="show3" top>
                    <template v-slot:activator="{ on }">
                        <v-btn id='btnAgregar' name='btnAgregar' small class="ma-2 mr-2" v-on="on" dense dark color="primary" @click="validate">
                            <v-icon left>mdi-arrow-down-bold</v-icon>Agregar
                        </v-btn>
                    </template>
                    <span>Agregar</span>
                </v-tooltip>
            </v-col>
        </v-row>
        <v-row class="mx-auto" max-height="450">
            <v-col cols="12" md="12">
                <v-card class="mx-auto mt-n4 elevation-4" max-height="450" max-width="1300" >
                    <v-data-table :headers="headers" widths :items="$store.state.anillos[indexEdit].nodos" dense class="mx-auto over">
                        <template v-slot:item.Acciones="{ item }" style="font-size:12px;">
                            <v-icon small class="mr-2" @click="editItem(item)">mdi-grease-pencil</v-icon>
                            <v-icon small @click="deleteItem(item)">mdi-delete-empty-outline</v-icon>
                        </template>
                    </v-data-table>
                </v-card>
            </v-col>
        </v-row>
    </v-card>
</template>

<script>
export default {
    name:'viewAnillo',
    data: () => ({
        valDown:'',
        valNombreNodo:'',
        indexEdit:0,
        valid: true,
        show2: false,
        show3: false,
        show4: false,
        nombreAnillo:'',
        nameRules: [
            //v => !!v || 'El nombre es requerido',
            // v => (v && v.length <= 30) || 'El nombre debe tener menos de 15 caracteres',
            //v => !!v || '',
            //v => !!v == 'Nuevo anillo' || '',
            v => /^[A-Za-z0-9/-_\s]+$/g.test(v) || ''//'Solo letras y números',
        ],
        nameNodo: [
            // r => !!r || 'El nombre del nodo es requerido',
            // r => (r && r.length <= 30) || 'El nombre debe tener menos de 15 caracteres',
            r => /^[A-Za-z0-9\s]+$/g.test(r) || ''//'Solo letras y números',
            
        ],
        // validIP: [
        //     z => /^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/.test(z) || 'no esta chido'//'Solo letras y números',
        // ],
        ipDest: [
            q => !!q || '',
            
        ],
        // modvrrpr:[
        //     r => /^[A-Za-z-.0-9/\s]+$/g.test(r) || ''//'Solo letras y números',
        // ],
        modinterfazr:[
            t => /^[A-Za-z0-9/\s]+$/g.test(t) || ''//'Solo letras y números',
        ],
        configAnillo: null,
        stAnillos:false,
        valCconr:[
            a => /^[A-Za-z0-9/\s]+$/g.test(a) || ''//'Solo letras y números',
        ],
        lstLLDP:['SI','NO'],
        showGuardar:false,
        lstStatus:['Edición','Terminado','Deshabilitado'],
        lstDown:['SI','NO'],
        configuraexistentes:['Confuguracion1','Confuguracion2','Confuguracion3'],
        tequipos:["ROUTER","SWITCH","WIRELESS"],
        content: false,
        card1: 0,
        card2: 0,
        item:null,
        show:null,
        value: '',
        headers: [
            //{ text: '', value: 'optBtn' },
            {
                text: 'Orden',
                align: 'center',
                //filterable: false,
                value: 'orden',
                divider: true,
                width: 15,
            },
            //{ text: 'Tipo de equipo', value: 'tipoEquipo',align:'center',class:'caption' },
            { text: 'Equipo', value: 'equipo',divider: true,width: 50,align: 'center', },
            { text: 'Ip', value: 'ip',divider: true,width: 50,align: 'center', },
            { text: 'MPLS', value: 'mpls',divider: true,width: 50,align: 'center', },
            { text: 'VRRP', value: 'VRRP',divider: true,width: 50,align: 'center', },
            { text: 'Interfaz', value: 'interfaz',divider: true,width: 50,align: 'center', },
            { text: 'Down', value: 'down',divider: true,width: 50,align: 'center', },
            { text: 'LLDP', value: 'LLDP',divider: true,width: 50,align: 'center', },
            { text: 'Conecta con', value: 'conectaCon',divider: true,width: 50,align: 'center',filterable: false, },
            { text: 'Ip colector', value: 'IP_Colector_ValidacionServicio_Datos_Ping',divider: true,width: 50,align: 'center', },
            { text: 'Ip LAN WAN ', value: 'IP_Lanwan_ValidacionServicio_Datos',divider: true,width: 50,align: 'center', },
            { text: 'Ip OLT', value: 'ipOlt',divider: true,width: 50,align: 'center', },
            { text: 'Posicion ONT', value: 'posONT',divider: true,width: 50,align: 'center', },
            { text: 'Ip destino validacion', value: 'IP_Destino_Validacion_Internet_ONT',divider: true,width: 50,align: 'center', },
            {
                text: 'Acciones.',
                value: 'Acciones',
                sortable:false,
                filterable: false,
                divider: true,width: 50,align: 'center',
                
            },
        ],
        nodosAnillo:[],
        editedNodo: {},
        defaultNodo: {
            valNombreNodo:'',
            valIpEquipo:'',
            valMPLS:'',
            valVrrp:'',
            valOrden:'',
            valInterfaz:'',
            valDown:null,
            valLLDP:null,
            valConectaCon:'',
            valIpColector:'',
            valIpLANWAN:'',
            valIpOLT:'',
            valPosONT:'',
            valIpDestino:'',
        },
        editedIndex: -1,
        editaAnillo:false,
    }),
    computed: {
      modoEdicion(){
          return !this.$store.state.modoEdicion;
      },
    },
    mounted(){
        this.initAnillo();
    },
    created(){
        this.editaAnillo=this.$store.state.btnActivo;
    },
    methods:{
         getNoNodos(){
            var arrAnillos=this.$store.state.anillos[this.$store.state.indexAnilloEdit].nodos;
            var arrInfoAnillo;
                var arrequipos=[];
                var nodoconeCon=[];
                for(var re = 0; re<this.$store.state.anillos[this.$store.state.indexAnilloEdit].nodos.length; re++){
                    arrequipos.push(this.$store.state.anillos[this.$store.state.indexAnilloEdit].nodos[re]);
                }
                for(var res = 0; res<this.$store.state.anillos[this.$store.state.indexAnilloEdit].nodos.length; res++){
                    var resequipoConCon =this.$store.state.anillos[this.$store.state.indexAnilloEdit].nodos[res].conectaCon == null ? '':this.$store.state.anillos[this.$store.state.indexAnilloEdit].nodos[res].conectaCon ==undefined?'':this.$store.state.anillos[this.$store.state.indexAnilloEdit].nodos[res].conectaCon.toUpperCase().trim(); 
                    if (resequipoConCon == '') continue;
                    var pos = -1;
                    for(var cc=0; cc<arrequipos.length;cc++){
                        if(resequipoConCon == arrequipos[cc].equipo){
                            pos = cc;
                        }
                    }
                    if(pos<0){
                        var pos1 = -1;
                        for(var cc=0; cc<nodoconeCon.length;cc++){
                            if(resequipoConCon == nodoconeCon[cc].coneCon[0].equipo){
                                pos1 = cc;
                            }
                        }
                        if(pos1<0){
                            var nodotemp=[{"equipo":resequipoConCon,orden:'',"equipo":resequipoConCon,"ip":'',"tipo":'',"mpls":'',"interfaz":"","down":'',"conectaCon":"","ipOlt":'',"posONT":''}]
                            nodoconeCon.push({"coneCon":nodotemp, "index": res});
                        }
                    }
                }
                for(var s=0; s<nodoconeCon.length; s++){
                    arrequipos.splice((Number.parseInt(nodoconeCon[s].index)+1+s),0,nodoconeCon[s].coneCon[0]);
                }
                
                //console.log("Nodos: " + arrequipos.length);
                //this.itemAnillos.push({'id': arrAnillos[j].id,'nombre': arrAnillos[j].nombre,'nodos':arrequipos.length,'estatus': 1})
                //vamos a llegar a lo mismo
                return arrequipos.length;

        },
        initAnillo(){
            console.log("initAnillo");
            if(this.$store.state.modoEdicion == true){
                //this.$store.state.indexAnilloEdit
                this.indexEdit=this.$store.state.indexAnilloEdit;
                this.$store.state.anilloAeditar=this.$store.state.anillos[this.indexEdit];
                //this.nombreAnillo = this.$store.state.nombreAnillo;
                
                this.editedNodo.valOrden=this.$store.state.anillos[this.indexEdit].nodos.length+1;
                //this.defaultNodo.valOrden=this.$store.state.anillos[this.indexEdit].nodos.length+1;
            }else{
                this.editedNodo.valOrden=0;

            }
            
        },
        soloLetras: function (e) {
            var key = e.keyCode || e.which;
            var tecla = String.fromCharCode(key).toLowerCase();
            var letras = " áéíóúabcdefghijklmnñopqrstuvwxyz";
            var especiales = "8-37-39-46";

            var tecla_especial = false;
            for(var i in especiales){
                if(key == especiales[i]){
                    tecla_especial = true;
                    break;
                }
            }
            if(letras.indexOf(tecla)==-1 && !tecla_especial){
                return false;
            }
        },
        soloLetrasNumeros: function (tecla) {
            //enablecontroles("#txtNomSolicitantenew");
            var texto = tecla.key;
            var reg = /^[A-Za-z0-9\s]+$/g;
            if (reg.test(texto)) {
                return true;

            } else {
                tecla.preventDefault();
                return false;
            }
        },
        letrasNumerosDiagonal: function (tecla) {
            //enablecontroles("#txtNomSolicitantenew");
            var texto = tecla.key;
            var reg = /^[A-Za-z0-9/_.\s]+$/g;
            if (reg.test(texto)) {
                return true;

            } else {
                tecla.preventDefault();
                return false;
            }
        },
        soloformatoIP: function (tecla) {
            //enablecontroles("#txtNomSolicitantenew");

            var ipformat = /^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/;
            var texto = tecla;
            if (ipformat.test(texto)) {
                return true;

            } else {
                tecla.preventDefault();
                return false;
            }
        },
        reset () {
            console.log("reset nodo");
            this.$refs.form.resetValidation();
            //this.nombreAnillo='';
            this.valNombreNodo='';
            this.editedNodo.valIpEquipo='';
            this.editedNodo.valMPLS='';
            this.editedNodo.valVrrp='';
            this.editedNodo.valOrden=this.$store.state.anillos[this.indexEdit].nodos.length+1;
            this.editedNodo.valInterfaz='';
            this.editedNodo.valDown=null;
            this.editedNodo.valLLDP=null;
            this.editedNodo.valConectaCon='';
            this.editedNodo.valIpColector='';
            this.editedNodo.valIpLANWAN='';
            this.editedNodo.valIpOLT='';
            this.editedNodo.valPosONT='';
            this.editedNodo.valIpDestino='';
            this.editedIndex=-1;
        },
        validate () {
            if (this.$refs.form.validate()) {
                this.agregartoGrid();
            }
        },
        agregartoGrid () {
            debugger;
            if (this.editedIndex > -1) {
                console.log("agrega to grid");
                this.$store.state.anillos[this.indexEdit].nodos[this.editedIndex].equipo=this.valNombreNodo;
                this.$store.state.anillos[this.indexEdit].nodos[this.editedIndex].orden=this.editedNodo.valOrden;
                this.$store.state.anillos[this.indexEdit].nodos[this.editedIndex].ip=this.editedNodo.valIpEquipo;
                this.$store.state.anillos[this.indexEdit].nodos[this.editedIndex].mpls=this.editedNodo.valMPLS;
                this.$store.state.anillos[this.indexEdit].nodos[this.editedIndex].VRRP=this.editedNodo.valVrrp;
                this.$store.state.anillos[this.indexEdit].nodos[this.editedIndex].interfaz=this.editedNodo.valInterfaz;
                this.$store.state.anillos[this.indexEdit].nodos[this.editedIndex].down=this.editedNodo.valDown;
                this.$store.state.anillos[this.indexEdit].nodos[this.editedIndex].LLDP=this.editedNodo.valLLDP;
                this.$store.state.anillos[this.indexEdit].nodos[this.editedIndex].conectaCon=this.editedNodo.valConectaCon;
                this.$store.state.anillos[this.indexEdit].nodos[this.editedIndex].IP_Colector_ValidacionServicio_Datos_Ping=this.editedNodo.valIpColector;
                this.$store.state.anillos[this.indexEdit].nodos[this.editedIndex].IP_Lanwan_ValidacionServicio_Datos=this.editedNodo.valIpLANWAN;
                this.$store.state.anillos[this.indexEdit].nodos[this.editedIndex].ipOlt=this.editedNodo.valIpOLT;
                this.$store.state.anillos[this.indexEdit].nodos[this.editedIndex].posONT=this.editedNodo.valPosONT;
                this.$store.state.anillos[this.indexEdit].nodos[this.editedIndex].IP_Destino_Validacion_Internet_ONT=this.editedNodo.valIpDestino;
                
                this.reset();
            } else {
                console.log("ele add nodo");
                var newNodoAdd={
                    'equipo':this.valNombreNodo,
                    'orden':this.editedNodo.valOrden,
                    'ip':this.editedNodo.valIpEquipo,
                    'mpls':this.editedNodo.valMPLS,
                    'VRRP':this.editedNodo.valVrrp,
                    'interfaz':this.editedNodo.valInterfaz,
                    'down':this.editedNodo.valDown,
                    'LLDP':this.editedNodo.valLLDP,
                    'conectaCon':this.editedNodo.valConectaCon,
                    'IP_Colector_ValidacionServicio_Datos_Ping':this.editedNodo.valIpColector,
                    'IP_Lanwan_ValidacionServicio_Datos':this.editedNodo.valIpLANWAN,
                    'ipOlt':this.editedNodo.valIpOLT,
                    'posONT':this.editedNodo.valPosONT,
                    'IP_Destino_Validacion_Internet_ONT':this.editedNodo.valIpDestino,
                };
                this.$store.state.anillos[this.indexEdit].nodos.push(newNodoAdd);
                // = this.getNoNodos();
                this.$store.state.anillos[this.indexEdit].noNodos=this.$store.state.anillos[this.indexEdit].nodos.length;
                this.reset();
            }
        },
        editItem (item) {

            console.log("edit nodo");
   
            this.editedIndex = this.$store.state.anillos[this.indexEdit].nodos.indexOf(item);
//debugger;
            this.editedNodo.valOrden = this.$store.state.anillos[this.indexEdit].nodos[this.editedIndex].orden;//this.nodosAnillo[this.editedIndex].orden;
            this.valNombreNodo=this.$store.state.anillos[this.indexEdit].nodos[this.editedIndex].equipo;//this.nodosAnillo[this.editedIndex].nomEquipo;
            this.editedNodo.valIpEquipo=this.$store.state.anillos[this.indexEdit].nodos[this.editedIndex].ip;//this.nodosAnillo[this.editedIndex].ipEquipo;
            this.editedNodo.valMPLS=this.$store.state.anillos[this.indexEdit].nodos[this.editedIndex].mpls;//this.nodosAnillo[this.editedIndex].MPLS;
            this.editedNodo.valVrrp=this.$store.state.anillos[this.indexEdit].nodos[this.editedIndex].VRRP;//this.nodosAnillo[this.editedIndex].VRRP;
            this.editedNodo.valInterfaz=this.$store.state.anillos[this.indexEdit].nodos[this.editedIndex].interfaz;//this.nodosAnillo[this.editedIndex].interfaz;
            this.editedNodo.valDown=this.$store.state.anillos[this.indexEdit].nodos[this.editedIndex].down;//this.nodosAnillo[this.editedIndex].down;
            this.editedNodo.valLLDP=this.$store.state.anillos[this.indexEdit].nodos[this.editedIndex].LLDP;//this.nodosAnillo[this.editedIndex].lldp;
            this.editedNodo.valConectaCon=this.$store.state.anillos[this.indexEdit].nodos[this.editedIndex].conectaCon;//this.nodosAnillo[this.editedIndex].conectaCon;
            this.editedNodo.valIpColector=this.$store.state.anillos[this.indexEdit].nodos[this.editedIndex].IP_Colector_ValidacionServicio_Datos_Ping;//this.nodosAnillo[this.editedIndex].ipColector;
            this.editedNodo.valIpLANWAN=this.$store.state.anillos[this.indexEdit].nodos[this.editedIndex].IP_Lanwan_ValidacionServicio_Datos;//this.nodosAnillo[this.editedIndex].ipLANWAN;
            this.editedNodo.valIpOLT=this.$store.state.anillos[this.indexEdit].nodos[this.editedIndex].ipOlt;//this.nodosAnillo[this.editedIndex].ipOLT;
            this.editedNodo.valPosONT=this.$store.state.anillos[this.indexEdit].nodos[this.editedIndex].posONT;//this.nodosAnillo[this.editedIndex].posONT;
            this.editedNodo.valIpDestino=this.$store.state.anillos[this.indexEdit].nodos[this.editedIndex].IP_Destino_Validacion_Internet_ONT;//this.nodosAnillo[this.editedIndex].ipDestino;
            //this.nodosAnillo.splice(this.editedIndex,1);
        },
        deleteItem (item) {
            const index = this.nodosAnillo.indexOf(item);
            confirm('¿Deseas eliminar este nodo?') && this.nodosAnillo.splice(index, 1)
        },
        guardarAnillo(){
            //debugger;
            console.log("guardarAnillo");
            var arrAnillos=this.$store.state.anillos;
            var nodostoAnillo=[];
            //this.$store.state.nombreAnillo=this.nombreAnillo;
            //if (this.validaAnillo()) {
                console.log("valida anillo");
                for(var rs=0;rs<this.nodosAnillo.length; rs++){
                    var prevNod = {
                        orden:this.nodosAnillo[rs].orden,
                        equipo:this.nodosAnillo[rs].nomEquipo,
                        ip:this.nodosAnillo[rs].ipEquipo,
                        tipo:'',
                        mpls:this.nodosAnillo[rs].MPLS,
                        interfaz:this.nodosAnillo[rs].interfaz,
                        down:this.nodosAnillo[rs].down,
                        conectaCon:this.nodosAnillo[rs].conectaCon,
                        ipOlt:this.nodosAnillo[rs].ipOLT,
                        posONT:this.nodosAnillo[rs].posONT,
                        servicios:[
                            {
                                id:'1',
                                servicio:'IP_Colector_ValidacionServicio_Datos_Ping',
                                descripcion:'',
                                valor:this.nodosAnillo[rs].ipColector,
                            },
                            {
                                id:'2',
                                servicio:'IP_Lanwan_ValidacionServicio_Datos',
                                descripcion:'',
                                valor:this.nodosAnillo[rs].ipLANWAN,
                            },
                            {
                                id:'3',
                                servicio:'IP_Destino_Validacion_Internet_ONT',
                                descripcion:'',
                                valor:this.nodosAnillo[rs].ipDestino,
                            }
                        ],
                        protocolos:[
                            {
                                id:'1',
                                protocolo:'VRRP',
                                descripcion:'',
                                valor:this.nodosAnillo[rs].VRRP,
                            },
                            {
                                id:'2',
                                protocolo:'LLDP',
                                descripcion:'',
                                valor:this.nodosAnillo[rs].lldp
                            },
                        ]
                    };
                    nodostoAnillo.push(prevNod);
                }
                if (this.$store.state.indexAnilloEdit < 0) {
                    console.log("if index anillo edit");
                    var newAnillo = {
                        'id':arrAnillos.length+1,
                        'nombre':this.$store.state.nombreAnillo==''?this.nombreAnillo:this.$store.state.nombreAnillo,
                        'estatus':'1',
                        'nodos':nodostoAnillo
                    };
                    arrAnillos.push(newAnillo);
                    this.$store.state.nombreAnillo='';
                    this.nombreAnillo='';
                    this.$store.state.indexAnilloEdit=-1
                    this.nodosAnillo=[];

                }else{
                    console.log("actualizando realmente");
                    //this.nodosAnillo.splice((Number.parseInt(this.editedNodo.valOrden)-1),0,newnodo);
                    var newAnillo = {
                        'id':this.$store.state.indexAnilloEdit+1,
                        'nombre':this.nombreAnillo,
                        'estatus':'1',
                        'nodos':nodostoAnillo
                    };
                    console.log('actualizando anillos indice:'+this.$store.state.indexAnilloEdit);
                    console.log('con:');
                    console.log(newAnillo);

                    this.$store.state.anillos[this.$store.state.indexAnilloEdit] = newAnillo;
                    console.log(this.$store.state.anillos);
                    this.$store.state.nombreAnillo=this.nombreAnillo;

                }

                console.log("reset");
                this.reset();
                this.initAnillo();
                
            //}
        },
        validaAnillo(){
            var retorno = false;
            if(this.nombreAnillo!='' && this.nodosAnillo.length>0){
                retorno = true;
            }
            return retorno;
        }
    }
}
</script>
<style type="text/css">
.v-text-field--filled.v-input--dense.v-text-field--single-line > .v-input__control > .v-input__slot, .v-text-field--filled.v-input--dense.v-text-field--outlined > .v-input__control > .v-input__slot, .v-text-field--filled.v-input--dense.v-text-field--outlined.v-text-field--filled > .v-input__control > .v-input__slot, .v-text-field--full-width.v-input--dense.v-text-field--single-line > .v-input__control > .v-input__slot, .v-text-field--full-width.v-input--dense.v-text-field--outlined > .v-input__control > .v-input__slot, .v-text-field--full-width.v-input--dense.v-text-field--outlined.v-text-field--filled > .v-input__control > .v-input__slot, .v-text-field--outlined.v-input--dense.v-text-field--single-line > .v-input__control > .v-input__slot, .v-text-field--outlined.v-input--dense.v-text-field--outlined > .v-input__control > .v-input__slot, .v-text-field--outlined.v-input--dense.v-text-field--outlined.v-text-field--filled > .v-input__control > .v-input__slot {
  min-height: 32px !important;
}
.v-data-table td {
  font-size: 12px !important;
  height: 48px;
}
.v-text-field--outlined.v-input--dense .v-label {
    top: 7px !important;
    font-size: 12px;
    text-transform: uppercase;
}

.v-input__control{
    font-size: 12px;
    min-height: 32px !important;
    text-transform: uppercase;
}
#input-72 {
    text-align: center;
}
.v-input input {
    max-height: 32px;
    text-transform: uppercase;
}
.v-data-table__wrapper {
    overflow-x: auto;
    overflow-y: auto;
}
</style>
    
}
</script>